*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: grid;
    gap: 1rem;
    background-color: rgb(48, 41, 41);
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: repeat(auto-fit,minmax(200px,400px));
}

.item{
    padding: 1rem;
    color: wheat;
    border: 3px solid black;
    background-color: rgb(51, 51, 75);
}