.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.box{
    border: 2px solid black;
    background-color: bisque;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* how to do transition property | timing | function | delay */
    transition: all 3s linear 1s;
}
p{
    font-size: 36px;
}
/* Psuedo class */
.box:hover{
    /* transforms based on transition properties */
    /* rotation transform */
    /* transform: rotate(45deg); */
    /* scale 2x */
    /* transform: scale(0.5); */

    /* multiple ones */
    /* transform: scale(0.5) rotate(45deg); */

    /* skewness */
    transform: skew(45deg);
    /* left down in positive(diagonal x,y)  */
    transform: translate(150px,100px);
}