*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 100%;
    width: 100%;
    background-color: rgb(111, 105, 105);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 0.5rem; /* column and row gap*/
    padding: 4rem;
    border: 3px solid white;
    /* justify-items: center; for all items in cell horizontal axis */
    /* align-items: center; for all items in vertical axis */
}

.item{
    height: 100px;
    width: 100px;
    background-color: rgb(79, 209, 81);
    border: 5px solid rgb(0, 0, 0);
    /* justify-self: center; grid cell center horizontal axis */
    /* align-self: center; along vertical axis */
    place-self: center; /*both axis*/
}